
<footer class="text-center text-lg-start bg-light text-muted mt-3">

    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >

      <div class="me-5 d-none d-lg-block">
        <span>Bizimle sosyal medyadan iletişime geçin: <a href="https://www.linkedin.com/company/bilicisoft/?originalSubdomain=tr">LinkedIn</a></span>
      </div>

      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">

        <div class="row mt-3">

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Bilici Soft
            </h6>
            <p>
                BİLİCİSOFT BİLİŞİM VE SAVUNMA TEKNOLOJİLERİ SAN. TİC. LTD. ŞTİ. 2017 yılında son kullanıcıya anahtar teslim yazılım ve donanım hizmetleri sunma vizyonuyla yola çıkmış, 2018’den bu güne de ODTÜ Teknokent bünyesinde çalışmalarına devam etmekte olan bir bilişim firmasıdır.
            </p>
            <p>Kurumumuz, anahtar teslim yazılım çalışmalarından dış kaynak kullanımına, ağ çözümlerinden servis ve bakım hizmetlerine kadar geniş bir yelpazede hizmet vermeyi görev edinmiş profesyonel kadrosuyla; ürün satış ve sonrası hizmet kalitesini bir üst seviyeye taşımayı amaç edinmiştir.</p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              Hizmetler
            </h6>
            <p>
              <a href="#https://www.bilicisoft.com/android-uygulama" class="text-reset"><mat-icon>phone_android</mat-icon><br>Android</a>
            </p>
            <p>
              <a href="#https://www.bilicisoft.com/ios-uygulama" class="text-reset"><mat-icon>phone_iphone</mat-icon><br>IOS</a>
            </p>
            <p>
              <a href="#https://www.bilicisoft.com/hibrit-uygulama" class="text-reset"><mat-icon>devices_other</mat-icon><br>Hibrit Uygulama</a>
            </p>

          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              Sosyal Medya
            </h6>
            <p>
              <a href="#https://www.facebook.com/bilicisoftbilisim/" class="text-reset"><mat-icon>laptop</mat-icon><br>Facebook</a>
            </p>
            <p>
              <a href="#https://www.instagram.com/bilicisoft/" class="text-reset"><mat-icon>laptop</mat-icon><br>Instagram</a>
            </p>
            <p>
              <a href="#https://twitter.com/i/flow/login?redirect_after_login=%2Fbilicisoft" class="text-reset"><mat-icon>laptop</mat-icon><br>Twitter</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              İletişim
            </h6>
            <p><i class="fas fa-home me-3"></i><mat-icon>location_on</mat-icon><a href="https://www.google.com/maps/place/Mustafa+Kemal,+2159.+Sk.+No:4+D:7,+06510+%C3%87ankaya%2FAnkara/@39.9099419,32.7632411,17z/data=!3m1!4b1!4m5!3m4!1s0x14d3462b0ef85963:0x4bdfc052f63cd5d8!8m2!3d39.9099378!4d32.765816?entry=ttu">Mustafa Kemal Mah. 2159. Sk. No:4/7 Çankaya/Ankara</a></p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              <mat-icon>contact_mail</mat-icon> info@bilicisoft.com
            </p>
            <p><i class="fas fa-phone me-3"></i><mat-icon>phone</mat-icon>(0312) 219 48 69</p>
            <p><i class="fas fa-print me-3"></i><mat-icon>phone</mat-icon> (0541) 567 80 40</p>
          </div>

        </div>

      </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://www.bilicisoft.com/">bilicisoft.com</a>
    </div>

  </footer>
