
<app-navbar></app-navbar>
<div class="container my-3">
    <div class="row">
        <div class="col-md-3">
            <app-login class="text-center"></app-login>
            <app-islem></app-islem>
        </div>
        <div class="col-md-9">
            <h1 class = "bg-warning text-danger text-center">İhale Teklif Portalı</h1>
            <app-aciklama></app-aciklama>
            <app-ihale-teklif></app-ihale-teklif>
            <app-ek-aciklama></app-ek-aciklama>
        </div>
        <h1 class="text-center">Yaklaşan İhaleler</h1>
        <app-calendar class="mt-3"></app-calendar>
        <app-footer></app-footer>

    </div>
</div>



