<input #sirket type="text" class="form-control">
<div class ="text-right">
<button class ="bg-primary text-white p-3 mt-1" (click)="addItem(sirket)">Ekle</button>
</div>
<div class="card mt-3">
    <div class="card-header bg-info">
      Açıklamalar
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>İhale teklif portalına hoşgeldiniz sayın {{name}} aşağıdaki kısımdan katılmak istediğiniz ihaleye dair kısımları doldurabilirsiniz. İhaleyle ilgili ek açıklamalar daha alt kısımda bulunmaktadır</p>
      </blockquote>
    </div>
  </div>
